# Copyright (C) 2026 Marco Fortina
# SPDX-License-Identifier: AGPL-3.0-or-later

# Documentation
mkdocs>=1.6,<2.0
mkdocs-material>=9.5,<10.0
mkdocstrings>=1.0.4,<2.0
mkdocstrings-python>=1.10,<2.0
pymdown-extensions>=10.0,<11.0
