{#
Copyright (C) 2026 Marco Fortina
SPDX-License-Identifier: AGPL-3.0-or-later
#}

# Managed by Automax
app_name={{ values.app_name }}
environment={{ vars.environment }}
server={{ server.name }}
port={{ values.port }}
